
header img{
    height: 60px;
    padding: 10px;
}

nav{
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;

}

header nav a {
    margin: 0 15px; /* Adds space between nav items */
    text-decoration: none; /* Removes underline */
    color: black; /* Ensures links are visible */
    font-weight: bold; /* Optional: makes the text bold */
    font-family: 'Pacifico', cursive;
}
main{
    color: white;
}
 
h1{
    text-align: center;
}

body {
    text-align: left;
    height: 125vh;
    font-size: 20px;
    background-color: darkolivegreen;
    color: white;
    background-image: url('https://img.freepik.com/free-vector/hand-drawn-olive-green-background_23-2149724861.jpg');
    background-size: cover;
    font-family: 'Lato', sans-serif;
    margin-top: 80px;
    padding: 30px;
}

p{
    font-family: 'Lato', sans-serif;
}